.menu{
  width: 140px;
  height: 40px;
  line-height: 40px;
  background-color: deeppink;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: large;
  display: none;
  
}
